.NoWrap {
    white-space: nowrap;
}

.InputContainer {
    display: flex;
    gap: var(--gap-s);
    align-items: center;
    padding: var(--gap-xs) var(--gap-m);
    background-color: var(--gray3);
}

.FormInput {
    max-width: 500px;
}

.LoginInput {
    display: flex;
    background-color: var(--gray3);
    align-items: center;
}

.FormInputDate {
    max-width: 200px;
}

.BadgeWrapper {
    background-color: var(--gray3);
}

.BadgeWrapperList {
    display: flex;
    gap: var(--gap-s);
    margin-left: var(--gap-m);
    margin-bottom: var(--gap-s);
}