DATABASE_URL=''

NEXTAUTH_URL=''
NEXTAUTH_SECRET=''
CREDENTIALS_AUTH=''

DEFAULT_LOCALE=''

KEYCLOAK_ID=''
KEYCLOAK_SECRET=''
KEYCLOAK_ISSUER=''
KEYCLOAK_JWS_ALGORITHM=''

NEXT_PUBLIC_GRAVATAR_HOST=''

NEXT_PUBLIC_BONUS_POINTS_STORE_LINK=''

BONUS_POINTS_API_URL=''
BONUS_POINTS_API_TOKEN=''

EXTERNAL_SERVICE_CREATE_PROFILE_API_URL=''
EXTERNAL_SERVICE_UPDATE_PROFILE_API_URL=''
EXTERNAL_USER_SERVICE_API_TOKEN=''

CORPORATE_EMAIL_DOMAIN='@crew.org'
