.PageMain {
    /* presses the footer to the bottom*/
    min-height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
}

.PageContent {
    padding: var(--gap-m) var(--gap-l) var(--gap-l) var(--gap-l);
}