
.Wrapper {
    width: 70%;
    padding: var(--gap-m);
    margin: var(--gap-m);
}

.Wrapper:hover {
    background-color: var(--gray-1);
}

.Text {
    color: inherit;
    align-self: flex-end;
}

.Row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: var(--gap-s);
    width: 100%;
    margin-bottom: var(--gap-s);
}