.UserContacts {
    display: flex;
    flex-direction: column;
    gap: var(--row-gap);
    overflow: hidden;
}

.UserContacts_L {
    width: 240px;
}

.UserContacts_M {
    width: 220px;
}

.UserContactsItem {
    padding: 0;
    display: flex;
    gap: var(--gap-xs);
    align-items: center;
    color: var(--text-secondary);
}

.UserContactsLink.UserContactsLink  {
    color: inherit;
    overflow: hidden;
    flex: 1;
}

.UserContactsLink.UserContactsLink:hover {
    color: var(--blue-400);
}

.UserContactsText {
    overflow: hidden;
    display: block;
}

.UserContactsItemTooltip {
    background: var(--layer);
}

.UserContactsItemTooltip [data-popper-arrow]::before {
    background: var(--layer);
}