.Wrapper {
    padding: var(--gap-l) 0 var(--gap-m) var(--gap-l);
}

.Header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: var(--gap-l);
    padding-right: var(--gap-l);
    height: 40px;
}

.Body {
    display: grid;
    grid-template-columns: 4fr 1fr;
    overflow-y: auto;
}

.FormActions {
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-s);
}

.FormBlock {
    padding: 0 0 0 var(--gap-m);
    margin-bottom: var(--gap-xl);
}

.ThreeInputsRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-m);
    margin-bottom: var(--gap-m);
}

.TwoInputsRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-m);
    margin-top: var(--gap-s);
    margin-bottom: var(--gap-m);
}

.Form {
    padding-right: var(--gap-l);
    max-height: calc(100vh - 270px);
}

.Switch {
    justify-content: flex-start;
}

.FormEditor {
    margin-bottom: -20px;
}

.Required {
    color: var(--danger-500)
}

.AddSupplementalPosition {
    margin-top: var(--gap-s)
}

.OrganizationCombobox {
    margin-bottom: var(--gap-m);
}

.SectionHeader {
    display: inline-block;
    margin-top: var(--gap-s);
    margin-bottom: var(--gap-m);
}