.TeamChildren {
    display: flex;
    gap: var(--gap-xs);
    flex-direction: column;
}

.Empty {
    margin-top: var(--gap-xs);
}

.TeamChildrenLink.TeamChildrenLink:hover {
    color: var(--blue-400);
}