.SectionHeader {
    display: inline-block;
    margin-top: var(--gap-s);
    margin-bottom: var(--gap-m);
}

.PermissionServiceSelect {
    margin-bottom: var(--gap-m);
}

.TwoInputsRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-m);
}
