.TeamMembers {
    display: flex;
    gap: var(--gap-xs);
    flex-direction: column;
    margin-right: calc(var(--gap-m) * -1);
}

.TeamMembersSubtitle, .TeamMembersList {
    box-sizing: border-box;
    padding-right: var(--gap-m);
}

.TeamMembersList {
    flex: 1;
    overflow: auto;
}

.TeamMembersItem {
    flex: 1;
    overflow: hidden;
}

.TeamMembersItem_L {
    margin: var(--gap-xs) 0;
}

.TeamMembersItemWrapper {
    display: flex;
    gap: var(--gap-s);
    align-items: center;
    flex-direction: row;
}

.IconArchive {
    color: var(--button-danger);
}

.TeamMembersItemAction {
    display: flex;
    gap: var(--gap-s);
    align-items: center;
}

.Empty {
    padding-top: var(--gap-xs);
}

.Empty_L {
    margin-top: var(--gap-s);
}