.UserItem {
    display: flex;
    gap: var(--gap-s);
    align-items: center;
}

.UserItem_L {
    --row-gap: var(--gap-xs);
    --avatar-gap:var(--gap-sm);
}

.UserItem_M {
    --row-gap: 0;
    --avatar-gap:var(--gap-s);
}

.UserItemContent {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
}

.UserInfoText {
    color: var(--text-secondary);
}

.UserName {
    color: var(--text-primary);
}

.UserInfo {
    display: flex;
    gap: var(--avatar-gap);
    flex: 1;
}

.UserPersonalInfo {
    display: flex;
    flex-direction: column;
    gap: var(--row-gap);
}

.Contacts {
    display: flex;
    flex-direction: column;
    gap: var(--row-gap);
}

.Contacts_L {
    width: 240px;
}

.Contacts_M {
    width: 220px;
}

.ContactsBadge {
    padding: 0;
    display: flex;
    gap: var(--gap-xs);
    align-items: center;
}