.UserItem {
    display: flex;
    gap: var(--gap-s);
    align-items: start;
}

.UserItem_L {
    --row-gap: var(--gap-xs);
    --avatar-gap:var(--gap-sm);
}

.UserItem_M {
    --row-gap: 0;
    --avatar-gap:var(--gap-s);
}

.UserItemContent {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
    overflow: hidden;
}

.UserInfoText {
    color: var(--text-secondary);
}

.UserName {
    color: var(--text-primary);
}

.UserInfo {
    display: flex;
    gap: var(--avatar-gap);
    flex: 1;
    overflow: hidden;
}

.UserInfoContent {
    display: flex;
    gap: var(--gap-s);
    flex: 1;
    overflow: hidden;
    flex-wrap: wrap;
}

.UserPersonalInfo {
    display: flex;
    flex-direction: column;
    gap: var(--row-gap);
    flex: 1;
}

.Contacts {
    display: flex;
    flex-direction: column;
    gap: var(--row-gap);
}