.Base {
    padding-top: var(--gap-m);
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TwoInputsRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-m);
    margin-top: var(--gap-m);
    margin-bottom: var(--gap-m);
}

.Input {
    margin-top: var(--gap-s);
}