.FormActions {
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-s);
    margin-right: var(--gap-m);
    padding-bottom: var(--gap-s);
}

.Input {
    margin-top: var(--gap-m);
}

.ModalContent {
    flex: 1;
}

.ModalHeader {
    background-color: var(--danger-800);
    color: var(--danger-400);
}

.ConfirmButton {
    background-color: var(--danger-400);
    color: var(--base-white);
}