.Link {
    width: 100%;
}

.GroupRow {
    cursor: pointer;
    background-color: var(--gray-900);
    padding: var(--gap-s);
    border-radius: var(--radius-m);
    display: flex;
    align-items: center;
    color: var(--text-color);
    gap: var(--gap-m)
}

.GroupRow:hover {
    background-color: var(--gray-800);
}

.TreeViewNodeContainer {
    margin: var(--gap-xs) 0px;
}

.NoChildrenGroup {
    margin-left: var(--gap-m);
}

.GroupName {
    margin-left: var(--gap-m);
    max-width: 45%;
}
