.Link {
    width: 100%;
}

.GroupRow {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--text-color);
    gap: var(--gap-m);
}

.TreeViewNodeContainer {
    margin: var(--gap-xs) 0px;
}

.NoChildrenGroup {
    margin-left: var(--gap-m);
}

.GroupName {
    margin-left: var(--gap-m);
    max-width: 45%;
}

.GroupNameBadgeData {
    color: var(--text-secondary);
}

.GroupName_new {
    margin-left: var(--gap-m);
}

.Link_new {
    width: auto;
}