.Table {
    width: fit-content;
}

.TableRowLink {
    display: contents;
}

.StatusText {
    color: var(--status-in-progress);
    white-space: nowrap;
}

.StatusTextApproved {
    color: var(--status-finished);
}

.StatusTextDenied {
    color: var(--status-failed);
}

.StatusTextDraft {
    color: var(--status-draft);
}

.StartDate {
    white-space: nowrap;
}

.StatusTextCanceled {
    color: var(--status-at-risk);
}