.Table {
    width: fit-content;
}

.TableRowLink {
    display: contents;
}

.StatusText {
    color: var(--status-in-progress);
}

.StatusTextApproved {
    color: var(--status-finished);
}

.StatusTextDenied {
    color: var(--status-failed);
}

.StatusDot {
    background-color: var(--status-in-progress);
}

.StatusDotApproved {
    background-color: var(--status-finished);
}

.StatusDotDenied {
    background-color: var(--status-failed);
}